---
import Calendar from '../icons/Calendar.astro';

type Props = { date: Date };

const { date } = Astro.props;
---

<span class="flex gap-x-2 items-center">
    <time datetime={date.toISOString()}>
        {
            date.toLocaleDateString('en-us', {
                year: 'numeric',
                month: 'long',
                day: 'numeric'
            })
        }
    </time>
    <Calendar />
</span>
